body {
    align-content: center;
    margin: 0;
}

:root {
    --main: #4c7586;
    --main-hover: #3b6d81;
    --second: whitesmoke;

}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.error {
    height: 1px;
    margin-top: 5px;
    color: red;
}

.login-text {
    height: 25px;
    width: 340px;
}

.login-form-box {
    background-color: var(--second);
    width: 400px;
    height: 330px;
    border-radius: 20px;
    margin-top: 200px;
    box-shadow: 5px 10px 10px;
}

.login-form-logo {
    height: auto;
    width: 350px;
    margin-top: 20px;
}

.login-form-btn {
    height: 40px;
    width: 340px;
    margin-left: -40px;
    background-color: var(--main);
    color: white;
    cursor: pointer;
    padding: 0;
    border: none;
    border-radius: 4px;
}

.login-form-btn:hover {
    background-color: var(--main-hover);
}

.menu-bar {
    height: 2000px;
    width: 300px;
    background-color: var(--main);
    box-shadow: 1px 1px 20px;
    position: fixed;
}

.menu-page-center {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 150px;
}

.chart-box {
    width: 1200px;
    margin-top: 100px;
    margin-left: 100px;
}

.chart-box-title {
    font-size: 30px;
    position: absolute;
    color: grey;
}

.chart-box-options {
    margin-top: 10px;
    height: 40px;

}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
    text-align: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.menu-img {
    height: auto;
    width: 190px;
    margin: 5px;
}

.project-list {
    margin-top: 75px;
    margin-left: 100px;
    width: 600px;
    background-color: whitesmoke;
    outline: 1px solid grey;
}

.project-form-box {
    width: 600px;
    height: 46px;
    background-color: whitesmoke;
    outline: 1px solid grey;
}

.project-add-btn {
    height: 35px;
    width: 35px;
    background-color: white;
    color: var(--main);
    cursor: pointer;
    padding: 0;
    border: 2px solid var(--main);
    border-radius: 4px;
    margin-top: 5px;
    font-size: 35px;
}

.project-add-btn:hover {
    color: white;
    background-color: var(--main);
}

.plus {
    margin-top: -14px;
    position: relative;
}

.project-list-item-desc {
    min-height: 40px;
    width: 600px;
    outline: 1px solid grey;
    background-color: #cbcbcb;
    overflow: hidden;
}

.project-list-item {
    min-height: 40px;
    width: 600px;
    outline: 1px solid grey;
    cursor: pointer;
    background-color: whitesmoke;
    overflow: hidden;
}

.project-list-item:hover {
    background-color: #b6b6b6;
}

.project-list-item-id {
    min-height: 40px;
    width: 50px;
    border-right: 1px solid grey;
    float:left;

}

.project-list-item-name {
    min-height: 40px;
    width: 550px;
    overflow: hidden;
}

.create-user-btn {
    height: 35px;
    width: 50px;
    background-color: white;
    color: var(--main);
    cursor: pointer;
    padding: 0;
    border: 2px solid var(--main);
    border-radius: 4px;
    margin-top: 5px;
    font-size: 20px;
}

.create-user-btn:hover {
    color: white;
    background-color: var(--main);
}
.test {
    margin-left: 1100px;
}
.dropbtn {
    height: 40px;
    right: 0;
    float: right;
    background-color: var(--main);
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--main);
}

.actions {
    margin-top: -13px;
    position: relative;
}

.small-box {
    background-color: var(--second);
    width: 200px;
    height: 100px;
    border-radius: 20px;
    margin-top: 200px;
    box-shadow: 5px 10px 10px;
}

.small-box-header {
    height: 50px;
}

.small-box-footer {
    height: 50px;
}

.small-box-btn {
    height: 28px;
    width: 85px;
    background-color: var(--main);
    color: white;
    cursor: pointer;
    padding: 0;
    border: none;
    border-radius: 4px;
}

.big-form-box {
    background-color: var(--second);
    width: 400px;
    height: 600px;
    border-radius: 20px;
    margin-top: 200px;
    box-shadow: 5px 10px 10px;
}

.text-move {
    margin-top: 7px;
    position: relative;
}







