<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<div class="sidenav">
    <img src="images/logo5.png" class="menu-img" center=""/>
</div>


<div class="main">
    <div class="center">
        <div class="login-form-box">

            <div class="col">
                <div class="nav-links">
                    <ul>
                        <button name="post" type="submit" class="login-form-btn" style="margin-top: 20px"> Register
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>