<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<div class="sidenav">
    <img src="images/logo5.png" style="cursor: pointer" onclick="window.location.href='index'" class="menu-img" alt=""/>
    <a th:href="@{/index}" style="margin-top:30px">Home</a>
    <a th:href="@{/projects}">Projects</a>
    <div th:if="${session.isAdmin}">
        <a th:href="@{/users}">Admin</a>
    </div>
    <a th:href="@{/logout}" style="margin-top:30px">Log out</a>
</div>

<div class="main">
    <h2 style="margin-top: 100px;">Create a project:</h2>
    <img src="images/gifs/Opret Projekt1.gif" class="index-gif">
    <h2>Open the project and press Create task:</h2>
    <img src="images/gifs/Create Task.gif" class="index-gif">
    <h2>Fill out the form:</h2>
    <img src="images/gifs/Udfyld task.gif" class="index-gif">
    <h2>View your new project and task:</h2>
    <img src="images/gifs/Se task.gif" style="margin-bottom: 100px;" class="index-gif">
</div>


</body>
</html>