<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta charset="UTF-8"/>
</head>

<body>

<div class="sidenav">
    <img src="images/logo5.png" style="cursor: pointer" onclick="window.location.href='index'" class="menu-img" alt=""/>
    <a th:href="@{/index}" style="margin-top:30px">Home</a>
    <a th:href="@{/projects}">Projects</a>
    <div th:if="${session.isAdmin}">
        <a th:href="@{/users}" style="text-decoration: underline;">Admin</a>
    </div>
    <a th:href="@{/logout}" style="margin-top:30px">Log out</a>
</div>


<div class="main">
    <div class="center">
            <div class="task-container" style="background-color: whitesmoke;">
                <div class="task-box-header">
                    <div class="task-box-header-title" style="background-color: white;">User Profile</div>

                    <div class="dropdown">
                        <button class="dropbtn" style="border-radius: 5px">
                            <p class="actions">Actions</p>
                        </button>
                        <div class="dropdown-content">
                            <a th:href="@{/users/user/admin(id=${user.userId})}">Change admin</a>
                            <a th:href="@{/users/user/delete(id=${user.userId})}">Delete user</a>
                        </div>
                    </div>
                </div>


            <b><label style="margin-left:10px">E-mail: </label></b>
            <br><label th:text="${user.email}" class="control-label"></label><br>


            <b><label style="margin-left:10px">User ID: </label></b>
            <label th:text="${user.userId}" class="control-label"></label><br>


            <b><label style="margin-left:10px">Admin: </label></b>
            <label th:text="${user.isAdmin}" class="control-label"></label>

        </div>
</div>
</div>

</body>
</html>