<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" th:inline="javascript"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Gantt diagram via Google Charts API https://developers.google.com/chart/interactive/docs/gallery/ganttchart -->

    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages': ['gantt']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            /*<![CDATA[*/

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('string', 'Resource');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');

            var project = /*[[${project}]]*/ "Project";
            var tasks = project.tasks;

            var height = 0;
            var trackHeight = 30;

            for (var i = 0; i < tasks.length; i++) {
                height += trackHeight;

                var task = tasks[i];

                var id = task.id.toString();
                var name = task.name;
                var resource = task.resource;
                var start = task.startDateStr;
                var finish = task.finishDateStr;
                var percent = task.percentComplete;

                data.addRow([id, name, resource, new Date(start), new Date(finish), null, percent, null]);

                if (task.subtasks != null) {

                    for (var j = 0; j < task.subtasks.length; j++) {
                        height += trackHeight;

                        var subtask = task.subtasks[j];

                        var subtaskId = "s" + subtask.id.toString();
                        var subtaskName = subtask.name;
                        var subtaskStart = subtask.startDateStr;
                        var subtaskFinish = subtask.finishDateStr;
                        var subtaskPercent = subtask.percentComplete;
                        var subtaskResource = subtask.resource;

                        data.addRow([subtaskId, subtaskName, subtaskResource, new Date(subtaskStart), new Date(subtaskFinish), null, subtaskPercent, id]);
                    }
                }
            }

            var options = {
                height: height + (trackHeight * 2),
                width: 900,
                gantt: {
                    criticalPathEnabled: false,
                    trackHeight: trackHeight,
                    arrow: {
                        angle: 0,
                        width: 0,
                        color: "white",
                        radius: 0,
                        legend: {position: 'none'}
                    }
                }
            };

            var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
            google.visualization.events.addListener(chart, 'select', selectHandler);

            chart.draw(data, options);

            function selectHandler() {
                var selections = chart.getSelection();
                if (selections.length !== 0) {
                    var selection = selections[0];
                    var dependency = data.getValue(selection.row, 7);
                    var id = data.getValue(selection.row, 0);
                    if (dependency == null) {
                        document.getElementById("taskLink").href = "project/task?id=" + id;
                    } else {
                        document.getElementById("taskLink").href = "project/task/subtask?id=" + id.substring(1);
                    }
                }
            }

            google.visualization.events.addListener(chart, 'error', function (googleError) {
                google.visualization.errors.removeError(googleError.id);
            });

            /*]]>*/
        }
    </script>
</head>
<body>

<div class="sidenav">
    <img src="/images/logo5.png" style="cursor: pointer" onclick="window.location.href='index'" class="menu-img" alt=""/>
    <a th:href="@{/index}" style="margin-top:30px">Home</a>
    <a th:href="@{/projects}" style="text-decoration: underline;">Projects</a>
    <div th:if="${session.isAdmin}">
        <a th:href="@{/users}">Admin</a>
    </div>
    <a th:href="@{/logout}" style="margin-top:30px">Log out</a>
</div>

<div class="main">
    <div class="chart-box">
        <div class="chart-box-options">
            <div class="chart-box-title" th:text="${project.projectName}"></div>
            <div class="test">
                <div class="dropdown">
                    <button class="dropbtn">
                        <p class="actions">Actions</p>
                    </button>
                    <div class="dropdown-content">
                        <a th:id="taskLink">Inspect selected task</a>
                        <a th:href="@{/project/add(id=${project.projectId})}">Create task</a>
                        <a th:href="@{/project/clear(id=${project.projectId})}">Clear tasks</a>
                        <a th:href="@{/project/delete(id=${project.projectId})}">Delete project</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="chart_div" style=" margin: 10px auto 0;align-self: center;"></div>
    </div>

    <div class="task-box" style="margin-left:100px; margin-top: 25px; margin-bottom: 25px;">
        <b>Start:
            <h th:text="${project.startDateStr}"></h>
            - </b>
        <b>Deadline:
            <h th:text="${project.deadlineDateStr}"></h>
        </b>
        <div class="task-box-item-desc">
            Tasks + Subtasks:
        </div>
        <div class="task-box-item">
            <b>
                <div class="task-box-item-name">name:</div>
            </b>
            <b>
                <div class="task-box-item-price">price:</div>
            </b>
        </div>
        <tr th:each="task: ${project.tasks}">
            <a class="task-box-item-href" th:href="@{/project/task(id=${task.id})}">
                <div class="task-box-item-name" th:text="${task.name}"></div>
                <div class="task-box-item-price" th:text="${task.getPrice()}"></div>
            </a>
            <div th:if="${task.subtasks != null}">
                <div th:each="subtask: ${task.subtasks}">
                    <a class="task-box-item-href-sub" th:href="@{/project/task/subtask(id=${subtask.id})}">
                        <div class="task-box-item-name" th:text="${subtask.name}"></div>
                        <div class="task-box-item-price" th:text="${subtask.getPrice()}"></div>
                    </a>
                </div>
            </div>
        </tr>
        <div class="task-box-item">
            <b>
                <div class="task-box-item-name">project total:</div>
            </b>
            <b>
                <div class="task-box-item-price" th:text="${project.getTotalProjectPrice()}"></div>
            </b>
        </div>
        <p style="margin: 10px">
            When calculating the price of a task/subtask,
            weekends are subtracted from the amount of days between the start and finish date.
            <br><b>Formula: days * hours per day * hourly price = price</b>
        </p>
    </div>
</div>
</body>
</html>