<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<div class="sidenav">
    <img src="/images/logo5.png" style="cursor: pointer" onclick="window.location.href='index'" class="menu-img" alt=""/>
    <a th:href="@{/index}" style="margin-top:30px">Home</a>
    <a th:href="@{/projects}" style="text-decoration: underline;">Projects</a>
    <div th:if="${session.isAdmin}">
        <a th:href="@{/users}">Admin</a>
    </div>
    <a th:href="@{/logout}" style="margin-top:30px">Log out</a>
</div>

<div class="main">
    <div class="center">
        <div class="task-container">
            <div class="task-box-header">
                <div class="task-box-header-title" th:text="${task.taskName}"></div>

                    <div class="dropdown">
                        <button class="dropbtn">
                            <p class="actions">Actions</p>
                        </button>
                        <div class="dropdown-content">
                            <a th:href="@{/project/task/delete(id=${task.taskId})}">Delete task</a>
                            <a th:href="@{/project/task/add-subtask(id=${task.taskId})}">Add subtask</a>
                        </div>
                    </div>

            </div>

            <div class="task-box">
                <div class="task-box-item-desc">
                    Task:
                </div>
                <div class="task-box-item">
                    <b><div class="task-box-item-name">name:</div></b>
                    <b><div class="task-box-item-price">price:</div></b>
                </div>
                <div class="task-box-item">
                    <div class="task-box-item-name" th:text="${task.taskName}"></div>
                    <div class="task-box-item-price" th:text="${task.getPrice()}"></div>
                </div>

                <div class="task-box-item-desc">
                    Subtasks:
                </div>
                <div class="task-box-item">
                    <b><div class="task-box-item-name">name:</div></b>
                    <b><div class="task-box-item-price">price:</div></b>
                </div>
                <tr th:each="subtask: ${task.subtasks}">
                    <a class="task-box-item-href" th:href="@{/project/task/subtask(id=${subtask.subtaskId})}">
                        <div class="task-box-item-name" th:text="${subtask.subtaskName}"></div>
                        <div class="task-box-item-price" th:text="${subtask.getPrice()}"></div>
                    </a>
                </tr>
                <div class="task-box-item">
                    <b><div class="task-box-item-name">subtask total:</div></b>
                    <b><div class="task-box-item-price" th:text="${task.getSubtasksPrice()}"></div></b>
                </div>
                <div class="task-box-item">
                    <b><div class="task-box-item-name">task total:</div></b>
                    <b><div class="task-box-item-price" th:text="${task.getTaskTotalPrice()}"></div></b>
                </div>

                <div class="task-box-item-desc">
                    Percent complete:
                </div>
                <form name="percentVerify" th:action="@{/project/task/config(id=${task.taskId})}" th:object="${task.taskId}" method="POST">
                    <div class="col-sm">
                        <div class="col">
                            <label for="percent" style="width: 340px" class="control-label"></label>
                            <input type="number" name="percent" class="form-control" id="percent" required
                                   placeholder="Percent complete" th:value="${task.percentComplete}" min="0" max="100">
                        </div>

                        <div class="col">
                            <div class="nav-links">
                                <ul>
                                    <button name="post" type="submit" class="login-form-btn" style="margin-top: 20px">
                                        Save changes
                                    </button>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="task-box-divider"></div>

            </div>
        </div>
    </div>
</div>


</body>
</html>