<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>



    <link rel="stylesheet" href="/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" th:inline="javascript"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" th:inline="javascript">

        google.charts.load('current', {'packages':['gantt']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            /*<![CDATA[*/

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('string', 'Resource');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');

            var project = /*[[${project}]]*/ "Test";
            var tasks = project.tasks;

            var height = 0;
            var trackHeight = 30;

            for (var i = 0; i < tasks.length; i++) {
                height += trackHeight;

                var task = tasks[i];

                var id = task.taskId.toString();
                var name = task.taskName;
                var resource = task.resource;
                var start = task.startDateStr;
                var finish = task.finishDateStr;
                var percent = task.percentComplete;

                data.addRow([id, name, null, new Date(start), new Date(finish), null, percent, null]);

                if (task.subtasks != null) {
//
                    for (var j = 0; j < task.subtasks.length; j++) {
                        height += trackHeight;
//
                        var subtask = task.subtasks[j];
//
                        var subtaskId = subtask.subtaskId.toString();
                        var subtaskName = subtask.subtaskName;
                        var subtaskStart = subtask.startDateStr;
                        var subtaskFinish = subtask.finishDateStr;
                        var subtaskPercent = subtask.percentComplete;
                        var subtaskResource = subtask.resource;
                        var dependency = subtask.taskId.toString();
//
                        data.addRow([subtaskId, subtaskName, null, new Date(subtaskStart), new Date(subtaskFinish), null, subtaskPercent, dependency]);
                    }
                }
            }

            var options = {
                height: 900,
                gantt: {
                    criticalPathEnabled: false,
                    trackHeight: trackHeight,
                    arrow: {
                        angle: 0,
                        width: 0,
                        color: "white",
                        radius: 0,
                        legend: {position: 'none'}
                    }
                }
            };

            var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
            google.visualization.events.addListener(chart, 'select', selectHandler);

            chart.draw(data, options);
            function selectHandler() {
                var selections = chart.getSelection();
                if (selections.length !== 0) {
                    var selection = selections[0];
                    var id = data.getValue(selection.row, 0);
                    document.getElementById("taskLink").href = "project/task?id=" + id;
                }
            }
            /*]]>*/
        }
    </script>
</head>
<body>

<div class="sidenav">
    <img src="images/logo5.png" style="cursor: pointer" onclick="window.location.href='index'" class="menu-img" alt=""/>
    <a th:href="@{/index}" style="margin-top:30px">Home</a>
    <a th:href="@{/projects}">Projects</a>
    <div th:if="${session.user.isAdmin}" ><a th:href="@{/users}">Administration</a></div>

</div>

<div class="main">

    <div class="chart-box">

        <div class="chart-box-options">
            <div class="chart-box-title" th:text="${project.projectName}"></div>
            <div class="test">
            <div class="dropdown">
                <button class="dropbtn">
                    <p class="actions">Actions</p>
                </button>
                <div class="dropdown-content">
                    <a th:id="taskLink">Edit selected task</a>
                    <a th:href="@{/project/add(id=${project.projectId})}">Create task</a>
                    <a th:href="@{/project/clear(id=${project.projectId})}">Clear tasks</a>
                    <a th:href="@{/project/delete(id=${project.projectId})}">Delete project</a>
                </div>
            </div>
        </div>
        </div>
        <div id="chart_div" style="display: block; margin: 10px auto 0;align-self: center;"></div>
    </div>
</div>

</body>
</html>