<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>

<div class="sidenav">
    <img src="images/logo5.png" style="cursor: pointer" onclick="window.location.href='index'" class="menu-img" alt=""/>
    <a th:href="@{/index}" style="margin-top:30px">Home</a>
    <a th:href="@{/projects}">Projects</a>
    <div th:if="${session.isAdmin}">
        <a th:href="@{/users}">Admin</a>
    </div>
    <a th:href="@{/logout}" style="margin-top:30px">Log out</a>
</div>

<div class="main">
    <div class="center">
        <div class="login-form-box">
            <div class="error" th:text="${error}"></div>
            <form name="registerVerify" action="/register-verify" method="POST">
                <div class="col-sm">
                    <div class="col">
                        <label for="email" class="control-label"></label>
                        <input type="email" name="email" class="form-control" id="email" required
                               placeholder="Email">
                    </div>
                    <div class="col-sm">
                        <label for="password" class="control-label"></label>
                        <input type="password" name="password" class="form-control" id="password" required
                               placeholder="Password">
                    </div>
                    <div class="col-sm">
                        <label for="password2" class="control-label"></label>
                        <input type="password" name="password2" class="form-control" id="password2" required
                               placeholder="Confirm Password">
                    </div>


                    <div class="checkbox">
                        <label for="admin" style="margin-top: 20px">
                            <span>Admin user</span>
                            <input type="checkbox" class="checkbox style-2 " checked="checked" name="admin" id="admin"
                                   value="true">
                        </label>
                    </div>


                    <div class="col">
                        <div class="nav-links">
                            <ul>
                                <button name="post" type="submit" class="login-form-btn" style="margin-top: 20px">
                                    Register
                                </button>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>